@import url('components/avatar.css');
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/container.css');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	margin: 0px;

}

h1, h2 {
	font-family: 'Staatliches', cursive;
	font-style: lighter;
}

a {
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: #fff5ea;
	transition: color 0.5s ease;
	font-weight: bolder;
}
a:hover {
	color: #4a8c37;
}



{}
